@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font-size: 15px;
  font-family: "Sofia", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Mon\ Flag.jpg);
}
.container {
  width: 500px;
  padding: 10px;
  border: 2px solid #e01c1c;
  border-radius: 10px;
  background: #c0c4fa;
  background-position: center;
  letter-spacing: 1.8px;
  }
h4 {
  margin: 10px 0px;
  font-size: 30px;
  color: #141313;
  text-align: center;
  text-shadow: 1px 5px 50px #580303;
  font-weight: bold;
  font-family: 'Noto Serif Myanmar', sans-serif;
  text-decoration: underline;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
textarea{
  padding: 10px;
  width: 100%;
}
label {
  padding: 10px;
  color: #131212;
  text-shadow: 1px 0px #d8d2d2;
  font-size: 20px;
  font-weight: bold;
}
select {
  padding: 10px;
  font-size: 16px;
}
#submit {
  border: none;
  background-color: orangered;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}
#submit:hover {
  background-color: #317beb;
}

/* .human { 
  background-color: #fff;
  padding: 5px 0;
}*/
#oth {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}